<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form action="http://10.60.120.31:8000/dowload2/" method="post">
  <input type="checkbox" name="data1" value="pre_recorded">预清单编号<br/>

    <input type="checkbox" name="data1" value="commodity_code">商品编码<br/>

    <input type="checkbox" name="data1" value="">清单编号<br/>

    <input type="checkbox" name="data3" value="">手(账)册编号<br/>
    <input type="checkbox" name="data4" value="经营企业编码">经营企业编码<br/>
    <input type="checkbox" name="data5" value="">经营企业社会信用代码<br/>
    <input type="checkbox" name="data3" value="">清单编号<br/>

    <input type="checkbox" name="data3" value="">手(账)册编号<br/>
    <input type="checkbox" name="data4" value="经营企业编码">经营企业编码<br/>
    <input type="checkbox" name="data5" value="">经营企业社会信用代码<br/>
    <input type="checkbox" name="data3" value="">清单编号<br/>

    <input type="checkbox" name="data3" value="">手(账)册编号<br/>
    <input type="checkbox" name="data4" value="经营企业编码">经营企业编码<br/>
    <input type="checkbox" name="data5" value="">经营企业社会信用代码<br/>



<div>
  <input type="submit" value="确定">
</div>
</form>

</body>
</html>